
.title {
  font-size: 15px;
  color: var(--color-text);
  margin-left: 4rem;
  margin-right: 6rem;
  font-weight: 300;
}

.title__white {
  font-size: 15px;
  color: var(--color-white);
  margin-left: 4rem;
  margin-right: 6rem;
  font-weight: 300;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
  .title {
    opacity: 0;
  }

  .title__white {
    opacity: 0;
    margin: 0;
    display: none;
  }
}

.grid_design {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  --background-color: #fff;
  --line-color : #ffa3b12b;
  --spacing : 25px;
  --line-thickness : 2px;
  --line-spacing : calc(var(--spacing) - var(--line-thickness));

  background:
  linear-gradient(to bottom, transparent var(--line-spacing), var(--line-color) var(--line-spacing)) 0 0 / 100vw var(--spacing) repeat-y,
  linear-gradient(to right, transparent var(--line-spacing), var(--line-color) var(--line-spacing)) 0 0 / var(--spacing) 100vh repeat-x
  var(--background-color); 
}
